<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sistemapos?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.current_session_context_class">jta</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="com/pos/mapeos/Almacen.hbm.xml"/>
    <mapping resource="com/pos/mapeos/Usuario.hbm.xml"/>
    <mapping resource="com/pos/mapeos/Colores.hbm.xml"/>
    <mapping resource="com/pos/mapeos/Producto.hbm.xml"/>
    <mapping resource="com/pos/mapeos/HistorialInventario.hbm.xml"/>
    <mapping resource="com/pos/mapeos/Inventario.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
